<html ng-app="dynflowConsole">
  <head>
    <title>dynFlow Console</title>
    <%= stylesheet_tag 'console' %>
    <%= javascript_tag 'console'%>
  </head>

  <body>
    <div class="container" ui-view></div>
  </body>
</html>
