<html>
  <head>
    <title>dynFlow Console</title>
    <%= stylesheet_tag 'dynflow' %>
    <%= javascript_tag 'dynflow' %>
  </head>

  <body>
    <div class="container" ui-view></div>
  </body>
</html>
